.gradle/
**/build/
**/run/
**/runs/
**/logs/
**/crash-reports/
**/hs_err_pid*
.idea/
*.iml
.project
.classpath
.settings/
out/
bin/
*.log
.env
/libraries/
/META-INF/
verification/curseforge-profiles/**/overrides/mods/*.jar
verification/curseforge-profiles/*.zip
